/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

/* Contenedor para el teclado y el campo de entrada */
.container {
    text-align: center;
    background: #b3abab;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.keypad {
    margin-top: 20px;
}

/* Estilo para el campo de entrada de la contraseña */
#password {
    width: 80%; 
    max-width: 300px; 
    margin: 0 auto; 
    display: block; 
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Diseño de cuadrícula para el teclado numérico */
.keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    gap: 10px;
    grid-auto-rows: minmax(50px, auto); /* Asegurar que las filas tengan un tamaño consistente */
}

/* Estilo para los botones individuales del teclado */
.key {
    padding: 15px;
    font-size: 18px;
    background-color: hsla(0, 2%, 42%, 0.986);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efecto hover para los botones del teclado */
.key:hover {
    background-color: #dad3d3fd;
}

/* Ajustar el botón de borrar para que esté al lado del número 9 */
#clear {
    grid-column: span 2; 
    background-color: #000000; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    padding: 15px;
    font-size: 18px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

/* Efecto hover para el botón de borrar */
#clear:hover {
    background-color: #ccbaba; 
}


